    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is zmNinja?</h2>
            <p class="intro text-center">zmNinja is an awesome home security app that works along with <a href="http://www.zoneminder.com">ZoneMinder</a></p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed with love</h3>
                        <p>zmNinja has a beautifully fluid UI, designed with love. It's a big improvement over using the ZoneMinder console on your phone. Try it and I hope you'll agree</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Time Saving</h3>
                        <p>zmNinja is intuitive. No heavy manuals to read. Enter your ZM details (yeah, the cgi-bin needs to be watched out for) and get going!</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Multi-OS</h3>
                        <p>zmNinja works on Android as well as iOS. Well, don't just stop there. It also works on Linux, Windows and Mac desktops. And by 'works' I mean 'works gorgeously'. No second hand love</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Mobile-first</h3>
                        <p>Okay, that was a bit of lie above about no second-hand love. zmNinja is a mobile first app - but I'm serious - it's also gorgeous on Desktops</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Source for you</h3>
                        <p>Don't like something? Hack it and contribute back. Nothing like having source, eh?</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Can't live without ZoneMinder</h3>
                        <p>zmNinja without Zoneminder is not like bread without butter. It's more like trying to breath without air. zmNinja needs ZoneMinder to work</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
