<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header" >
    <div class="container text-center">
        <img src="/public/images/applogo.png" width="40%" alt="zmNinja"><span class="btns">
                <a style="margin-top:30px" class="animated flipInX btn btn-cta-secondary scrollto" href="#demo">Demo</a>
            </span>

   
        <p class="intro">An awesome app that watches your home when you can't. Best buddies with ZoneMinder</p>

        <p class="intro animated zoomIn">
            <i class="fa fa-apple fa-2x"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-android fa-2x"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-windows fa-2x"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-linux fa-2x"></i>
        </p>

        

        <br/>
        <center>
            <a href="https://itunes.apple.com/us/app/zmninja-pro/id1067914954?mt=8"><img src="/public/images/apple.png" width="25%" alt="Get in on App Store"></a>
            <a href="https://play.google.com/store/apps/details?id=com.pliablepixels.zmninja_pro&hl=en&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" src="/public/images/google.png" width="25%" /></a>
        </center>
        <p/>
        <br/>
        <br/>

        <ul class="meta list-inline">
            <li><a href="https://github.com/pliablepixels/zmNinja" target="_blank">View on GitHub</a></li>
            <li><a href="https://github.com/pliablepixels/zmNinja/wiki/FAQ" target="_blank">Frequently Asked Questions</a></li>
            <li><a href="https://twitter.com/pliablepixels" target="_blank">@pliablepixels/twitter</a></li>
        </ul>
        <!--//meta-->
    
    </div>
    <!--//container-->
    <div class="social-media">
        <div class="social-media-inner container text-center">
            <ul class="list-inline">

                <li class="twitter-tweet">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="zmNinja" data-hashtags="zmninja">Tweet</a>
                    <script>
                        ! function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');
                    </script>
                </li>
                <!--//twitter-tweet-->
                <li class="facebook-like">
                    <div class="fb-like" data-href="http://pliablepixels.github.io" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                </li>
                <!--//facebook-like-->
                <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                <li class="github-star">
                    <iframe src="http://ghbtns.com/github-btn.html?user=pliablepixels&repo=zmninja&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                </li>
                <li class="github-fork">
                    <iframe src="http://ghbtns.com/github-btn.html?user=pliablepixels&repo=zmninja&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
                </li>
                <!--//
                    <li class="github-follow"><iframe src="http://ghbtns.com/github-btn.html?user=mdo&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe></li>
                    -->
            </ul>
        </div>
    </div>
</section>
<!--//promo-->